################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Messenger/.vs/Messenger/v15/Server/sqlite3
/Messenger/Messenger/obj/Release
/Messenger/.vs/Messenger/v15
